{% extends "entidades/index.html" %}


{% block titulo %}
    <h1 class="mb-5">Acerca de esta página</h1>
{% endblock titulo %}
    

{% block contenido %}

<div style="max-width: 800px; margin: auto; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <h2>Acerca de mí</h2>
    <p>
        Mi nombre es <strong>Ignacio Acevedo Barloco</strong>, tengo dieciséis años y actualmente continúo mis estudios secundarios en La Salle Buenos Aires. Aspiro a estudiar una carrera orientada a la tecnología, y aunque aún no he definido específicamente mi camino, sé que mi fascinación por las matemáticas me impulsará a buscar desafíos que me estimulen.
    </p>
    <p>
        En mi tiempo libre, además de jugar videojuegos con mis amigos, disfruto de ver videos en internet sobre curiosidades matemáticas o resoluciones de problemas lógicos con su famoso formato <em>p → q</em>.
    </p>
    <p>
        No tengo un gran interés en la lectura de libros físicos, aunque disfruto de leer notas o artículos sobre temas que realmente me interesan. La idea de crear esta página surgió tras visitar varias bibliotecas desde muy joven, donde una computadora central te informaba sobre la disponibilidad de un cuento o libro específico. Decidí crear esta página para el uso local de una biblioteca, donde se pueda almacenar información sobre los libros disponibles, sus autores, y un registro de préstamos que ayude a mantener el orden.
    </p>
</div>

{% endblock contenido %}