{% extends "entidades/index.html" %}


{% block titulo %}
    <h1 class="mb-5">Usuarios</h1>
    <br>
    <a class="btn btn-primary" href="{% url 'usuariosCreate' %}"><i class="fa-solid fa-circle-plus"></i> Agregar usuario</a>
{% endblock titulo %}
    

{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha de registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for c in usuarios %}
        <tr>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.email }}</td>
            <td>{{ c.fecha_registro }}</td>
            <td>
                <a
                  href="{% url 'usuariosUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Modificar"></i>
                </a>
                <a
                  href="{% url 'usuariosDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Eliminar"></i>
                </a>                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock contenido %}